/* HOME CSS */

#homeBody {
    background-color: #29a670;
    
}

#mainBody {
    background-color: whitesmoke;
    color:#29a670;
    border-style: outset;
    border-width: 10px;
    border-color: rgb(251, 188, 255);
    padding: 50px;
    margin: 50px;
    text-align: center;
    font-family: monospace;
}

.swiper {
    width: 95%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* CHARACTER CSS */

#characterBody {
    background-color:#da28a8;
}

#characterDirections {
    background-color: whitesmoke;
    color:rgb(46, 119, 69);
    border-style: outset;
    border-width: 10px;
    border-color: rgb(109, 240, 151);
    padding: 50px;
    margin: 50px;
    text-align: center;
    font-size: 25px;;
    font-family: monospace;
}

#generate {
    background-color: whitesmoke;
    color:rgb(46, 119, 69);
    border-style: outset;
    border-width: 10px;
    border-color: rgb(109, 240, 151);
    padding: 50px;
    margin: 50px;
    text-align: center;
    font-size: 25px;;
    font-family: monospace;

}

.centered-list {
  display: table;
  margin: 0 auto;
  list-style-position: inside; /* Keeps numbers next to centered text */
}

#emojiContainer{
    font-size: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;  
}


.btn {
  transition: all 0.3s ease-in-out;
  font-family: "Dosis", sans-serif;
}

.btn {
  width: 150px;
  height: 60px;
  border-radius: 50px;
  background-image: linear-gradient(135deg, #feb692 0%, #ea5455 100%);
  box-shadow: 0 20px 30px -6px rgba(238, 103, 97, 0.5);
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 24px;
  color: white;
}

.btn:hover {
  transform: translateY(3px);
  box-shadow: none;
}

.btn:active {
  opacity: 0.5;
}

/* ABOUT CSS */

#aboutBody {
    background-color: #e3b92e;
}

#aboutMain {
    background-color: rgb(255, 255, 255);
    color:#d27416;
    border-style: outset;
    border-width: 10px;
    border-color: rgb(255, 161, 30);
    padding: 50px;
    margin: 50px;
    text-align: center;
    font-family: monospace;
}

/* Navigation CSS */ 

#main-nav {

    background-color: #ffc0cb;
    color:aliceblue;
    font-family: monospace;

}

#main-nav li {
  display: inline-block;
  font-size: 30px;
  position: relative;
  padding: 50px;
}

#main-nav li:hover {
  background-color: #d47ec6;
  color: white;
}

